@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap");

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #5b88f7;
}

::selection {
    color: white;
    background: #5b88f7;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 24px;
}

textarea:focus,
input:focus {
    outline: none;
}

pre {
    font-size: inherit !important;
    font-family: 'JetBrains Mono', monospace;
}
